    body {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }
    
    header {
        margin-bottom: 50px;
        position: relative;
    }
    
    .navbar {
        display: flex;
        flex-basis: content;
        color: white;
        margin: 0;
        justify-content: center;
    }
    
    .navbar a {
        text-decoration: none;
        color: #342938;
        font-family: 'Cormorant SC', serif;
        font-size: 1.4rem;
    }
    
    .navbar a:hover {
        color: #E7AB79;
    }
    
    .navbar li {
        padding-right: 50px;
    }
    
    .navbar ul {
        margin: 0px 20px 0px 30px;
    }
    
    .banner {
        display: flex;
        position: absolute;
    }
    
    .banner-bar {
        margin: 0%;
        width: 100%;
    }
    
    .sct-2 {
        display: flex;
        flex-direction: column;
        margin-top: 600px;
        align-content: center;
        justify-content: center;
        margin-bottom: 3rem;
    }
    
    .sct-2 h1 {
        font-family: 'Cormorant SC', serif;
        color: #E7AB79;
        font-size: 3rem;
        font-weight: 500;
    }
    
    .sct-2 p {
        font-weight: 100;
        font-size: 1.2rem;
    }
    
    .form {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    
    .form-1 {
        width: 500px;
        margin: 20px;
    }
    
    .casilla {
        margin-bottom: 30px;
    }
    
    .casilla label {
        font-weight: 300;
        color: #774360;
    }
    
    .botones {
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    .botones button {
        margin: 0px 20px 0px 20px;
        padding: 15px 25px;
    }
    
    .btn-2 {
        text-decoration: none;
        background-color: #B25068;
        color: white;
        border: #B25068 solid;
        padding: 10px 20px;
        border-radius: 20px;
    }
    
    .btn-2:hover {
        text-decoration: none;
        color: white;
        background-color: #774360;
        border: #774360 solid;
    }
    
    .sct-3 {
        display: flex;
        margin: none;
        display: flex;
        background-color: #774360;
        padding: 4rem;
    }
    
    .txt-video {
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    .t-video {
        display: flex;
        flex-direction: column;
        margin: 20px 100px 0px 20px;
    }
    
    .text {
        color: white;
        font-weight: 500;
    }
    
    .text p {
        padding-bottom: 5px;
        padding-top: 5px;
        font-size: 1.5rem;
    }
    
    footer {
        background-color: #342938;
    }
    
    .footr {
        display: flex;
        align-content: center;
        justify-content: space-around;
        padding: 30px;
    }
    
    .footr h4 {
        color: white;
        font-family: 'Cormorant SC', serif;
        font-size: 1.5rem;
    }
    
    .part img {
        width: 200px;
        height: 200px;
    }
    
    .part iframe {
        width: 200px;
        height: 200px;
    }
    
    .part p {
        color: white;
        font-weight: 100;
    }
    
    .part i {
        color: white;
        font-size: 2rem;
        padding-left: 40px;
    }